$status-color-failure: #c62828;

.alert-box {
  @extend .row;

  & > .alert {
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    border: 1px solid $status-color-failure;
    background-color: lighten($status-color-failure, 30%);

    @extend .s7;
    @extend .col;
    @extend .flow-text;
  }
}
