@mixin progress-bar($baseColor) {
  background-color: $baseColor;

  & > .loading {
    @extend .progress;
    background-color: lighten($baseColor, 20%);

    .indeterminate { background-color: lighten($baseColor, 40%); }
  }
}

.status-box {
  @extend .card-action;
  @extend .valign-wrapper;
  @extend .row;

  &[data-status=success] { @include progress-bar(#2e7d32); }
  &[data-status=failure] { @include progress-bar(#c62828); }
  &[data-status=running] { @include progress-bar(#546e7a); }
  &[data-status=unknown] { @include progress-bar(#87a1ad); }

  & > .duration { text-align: right; }
  & > .lastrun { text-align: left; }

  & > .duration, & > .lastrun {
    @extend .truncate;
    padding: 0 !important;

    & > .icon { margin-right: 5px; }
  }
}

