$status-color-success: #2e7d32;
$status-color-failure: #c62828;
$status-color-running: #546e7a;
$status-color-unknown: #90a4ae;
$status-color-aborted: #f9a825;

@mixin progress-bar($base-color) {
  background-color: $base-color;

  > .loading {
    @extend .progress;
    background-color: lighten($base-color, 20%);

    .indeterminate { background-color: lighten($base-color, 40%); }
  }
}

.status-box {
  @extend .card-action;
  @extend .valign-wrapper;
  @extend .row;

  &[data-status=success] { @include progress-bar($status-color-success); }
  &[data-status=failure] { @include progress-bar($status-color-failure); }
  &[data-status=running] { @include progress-bar($status-color-running); }
  &[data-status=unknown] { @include progress-bar($status-color-unknown); }
  &[data-status=aborted] { @include progress-bar($status-color-aborted); }

  > .duration { text-align: right; }
  > .lastrun { text-align: left; }

  > .duration,
  > .lastrun {
    @extend .truncate;
    padding: 0 !important;

    > .icon { margin-right: 5px; }
  }
}

