@mixin progress-bar($baseColor) {
  background-color: $baseColor;

  & > .loading {
    background-color: lighten($baseColor, 20%);

    .indeterminate { background-color: lighten($baseColor, 40%); }
  }
}

.job-card {
  margin: 1em;
  padding: 0 !important;

  & > [data-status=success] { @include progress-bar(#2e7d32); }
  & > [data-status=failure] { @include progress-bar(#c62828); }

  & > .title-wrapper {
    padding-bottom: 15px;

    & > .title {
      font-size: 1em;
    }
  }
}

.job-status {
  padding: 10px 20px !important;
  color: white;
  min-height: 40px;
  font-size: .75em;

  &.row { margin: 0; }

  & > .duration { text-align: right; }
  & > .lastrun { text-align: left; }

  & > .duration, & > .lastrun {
    padding: 0 !important;

    & > .icon { margin-right: 5px; }
  }
}

