.job-card {
  margin: 1em;
  padding: 0 !important;

  & > .status-box {
    margin: 0;
    padding: 10px 20px !important;
    color: white;
    min-height: 40px;
    font-size: .75em;
  }

  & > .title-wrapper {
    padding-bottom: 15px;

    & > .title {
      font-size: 1em;
    }
  }
}

