.container .row:first-of-type .pipeline-title {
  margin-top: 20px;
}

.pipeline-title {
  margin-bottom: 0;

  & > .title { font-size: 1.5em; }

  & > .revision {
    color: #9e9e9e;
    margin: .5em 0;
  }
}
