$bg-color: #ECEFF1;
$font-color: #263238;
$progress-bar-color: #00b0ff;

body {
  color: $font-color;
  background-color: $bg-color;
  font-size: 16px;
}

.container {
  width: 90% !important;
}

.title-widget {
  position: fixed;
  top: 0;
  right: 2em;

  > .title { font-size: 2.5em; }
}

.progress { margin: 0; }

.pipelines-loading {
  background-color: $progress-bar-color;

  > .loading {
    background-color: lighten($progress-bar-color, 25%);
  }
}
